@model FogachoWebHeladeria.Models.AF_Helado

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AF_Helado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AF_Nombre" class="control-label"></label>
                <input asp-for="AF_Nombre" class="form-control" />
                <span asp-validation-for="AF_Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AF_Sabor" class="control-label"></label>
                <input asp-for="AF_Sabor" class="form-control" />
                <span asp-validation-for="AF_Sabor" class="text-danger"></span>
            </div>
            
             <label asp-for="AF_Categorias" class="control-label"></label>
             <select asp-for="AF_Categorias" class="form-control">
                 @foreach (var categoria in Enum.GetValues(typeof(FogachoWebHeladeria.Models.AF_Categoria)))
                {
                    <option value="@categoria">@categoria</option>
                }
            </select>
             <span asp-validation-for="AF_Categorias" class="text-danger"></span>

            <div class="form-group">
                <label asp-for="AF_Precio" class="control-label"></label>
                <input asp-for="AF_Precio" class="form-control" />
                <span asp-validation-for="AF_Precio" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AF_Queso" /> @Html.DisplayNameFor(model => model.AF_Queso)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
